<form id="yt_form" action="youtube_popularity/doAction" method="get">
  Day A:
  <select id="upload_date" name="upload_date">
    <option dayB = "2014-10-17" value="2014-10-07">2014-10-07</option>
    <option dayB = "2014-10-18" value="2014-10-08">2014-10-08</option>
    <option dayB = "2014-10-19" value="2014-10-09">2014-10-09</option>
    <option dayB = "2014-10-20" value="2014-10-10">2014-10-10</option>
<!--
    <option dayB = "2014-10-21" value="2014-10-11">2014-10-11</option>
    <option dayB = "2014-10-22" value="2014-10-12">2014-10-12</option>
    <option dayB = "2014-10-23" value="2014-10-13">2014-10-13</option>
    <option dayB = "2014-10-24" value="2014-10-14">2014-10-14</option>
    <option dayB = "2014-10-25" value="2014-10-15">2014-10-15</option>
    <option dayB = "2014-10-26" value="2014-10-16">2014-10-16</option>
-->
  </select>
  <br>

  Threshold:
  <input type="input" id="threshold">
  <br>

  <div id="buttons">
    <input id="submit_btn" type="button" value="Submit">
    <input id="clear_btn" type="button" value="Clear">
  </div>

  <img id="loading" src="/assets/ajax-loader.gif" style="display:none;">
</form>

<br>

Feature Weights: <span id="weights"></span>

<table id="feature_weights">
  <tr>
    <td><b>v.mention</b></td>
    <td id="v.mention"></td>

    <td><b>u.mention (sum_log)</b></td>
    <td id="u.mention_sum_log"></td>

    <td><b>u.mention_per_day (sum_log)</b></td>
    <td id="u.mention_per_day_sum_log"></td>

    <td><b>u.hashtag (sum_log)</b></td>
    <td id="u.hashtag_sum_log"></td>

    <td><b>u.hashtag_per_day (sum_log)</b></td>
    <td id="u.hashtag_per_day_sum_log"></td>

    <td><b>u.rt (sum_log)</b></td>
    <td id="u.rt_sum_log"></td>

    <td><b>u.rt_per_day (sum_log)</b></td>
    <td id="u.rt_per_day_sum_log"></td>

    <td><b>u.nbc (sum_log)</b></td>
    <td id="u.nbc_sum_log"></td>

    <td><b>u.nbc_per_day (sum_log)</b></td>
    <td id="u.nbc_per_day_sum_log"></td>

    <td><b>u.tweet (sum_log)</b></td>
    <td id="u.tweet_sum_log"></td>

    <td><b>u.tweet_per_day (sum_log)</b></td>
    <td id="u.tweet_per_day_sum_log"></td>
  </tr>

  <tr>
    <td><b>v.hashtag</b></td>
    <td id="v.hashtag"></td>

    <td><b>u.mention (log_sum)</b></td>
    <td id="u.mention_log_sum"></td>

    <td><b>u.mention_per_day (log_sum)</b></td>
    <td id="u.mention_per_day_log_sum"></td>

    <td><b>u.hashtag (log_sum)</b></td>
    <td id="u.hashtag_log_sum"></td>

    <td><b>u.hashtag_per_day (log_sum)</b></td>
    <td id="u.hashtag_per_day_log_sum"></td>

    <td><b>u.rt (log_sum)</b></td>
    <td id="u.rt_log_sum"></td>

    <td><b>u.rt_per_day (log_sum)</b></td>
    <td id="u.rt_per_day_log_sum"></td>

    <td><b>u.nbc (log_sum)</b></td>
    <td id="u.nbc_log_sum"></td>

    <td><b>u.nbc_per_day (log_sum)</b></td>
    <td id="u.nbc_per_day_log_sum"></td>

    <td><b>u.tweet (log_sum)</b></td>
    <td id="u.tweet_log_sum"></td>

    <td><b>u.tweet_per_day (log_sum)</b></td>
    <td id="u.tweet_per_day_log_sum"></td>
  </tr>

  <tr>
    <td><b>v.rt</b></td>
    <td id="v.rt"></td>

    <td><b>u.mention (mean_log)</b></td>
    <td id="u.mention_mean_log"></td>

    <td><b>u.mention_per_day (mean_log)</b></td>
    <td id="u.mention_per_day_mean_log"></td>

    <td><b>u.hashtag (mean_log)</b></td>
    <td id="u.hashtag_mean_log"></td>

    <td><b>u.hashtag_per_day (mean_log)</b></td>
    <td id="u.hashtag_per_day_mean_log"></td>

    <td><b>u.rt (mean_log)</b></td>
    <td id="u.rt_mean_log"></td>

    <td><b>u.rt_per_day (mean_log)</b></td>
    <td id="u.rt_per_day_mean_log"></td>

    <td><b>u.nbc (mean_log)</b></td>
    <td id="u.nbc_mean_log"></td>

    <td><b>u.nbc_per_day (mean_log)</b></td>
    <td id="u.nbc_per_day_mean_log"></td>

    <td><b>u.tweet (mean_log)</b></td>
    <td id="u.tweet_mean_log"></td>

    <td><b>u.tweet_per_day (mean_log)</b></td>
    <td id="u.tweet_per_day_mean_log"></td>
  </tr>

  <tr>
    <td><b>v.nbc</b></td>
    <td id="v.nbc"></td>

    <td><b>u.mention (log_mean)</b></td>
    <td id="u.mention_log_mean"></td>

    <td><b>u.mention_per_day (log_mean)</b></td>
    <td id="u.mention_per_day_log_mean"></td>

    <td><b>u.hashtag (log_mean)</b></td>
    <td id="u.hashtag_log_mean"></td>

    <td><b>u.hashtag_per_day (log_mean)</b></td>
    <td id="u.hashtag_per_day_log_mean"></td>

    <td><b>u.rt (log_mean)</b></td>
    <td id="u.rt_log_mean"></td>

    <td><b>u.rt_per_day (log_mean)</b></td>
    <td id="u.rt_per_day_log_mean"></td>

    <td><b>u.nbc (log_mean)</b></td>
    <td id="u.nbc_log_mean"></td>

    <td><b>u.nbc_per_day (log_mean)</b></td>
    <td id="u.nbc_per_day_log_mean"></td>

    <td><b>u.tweet (log_mean)</b></td>
    <td id="u.tweet_log_mean"></td>

    <td><b>u.tweet_per_day (log_mean)</b></td>
    <td id="u.tweet_per_day_log_mean"></td>
  </tr>

  <tr>
    <td><b>v.tweet</b></td>
    <td id="v.tweet"></td>

    <td><b>u.mention (std_log)</b></td>
    <td id="u.mention_std_log"></td>

    <td><b>u.mention_per_day (std_log)</b></td>
    <td id="u.mention_per_day_std_log"></td>

    <td><b>u.hashtag (std_log)</b></td>
    <td id="u.hashtag_std_log"></td>

    <td><b>u.hashtag_per_day (std_log)</b></td>
    <td id="u.hashtag_per_day_std_log"></td>

    <td><b>u.rt (std_log)</b></td>
    <td id="u.rt_std_log"></td>

    <td><b>u.rt_per_day (std_log)</b></td>
    <td id="u.rt_per_day_std_log"></td>

    <td><b>u.nbc (std_log)</b></td>
    <td id="u.nbc_std_log"></td>

    <td><b>u.nbc_per_day (std_log)</b></td>
    <td id="u.nbc_per_day_std_log"></td>

    <td><b>u.tweet (std_log)</b></td>
    <td id="u.tweet_std_log"></td>

    <td><b>u.tweet_per_day (std_log)</b></td>
    <td id="u.tweet_per_day_std_log"></td>
  </tr>

  <tr>
    <td><b>v.a_views</b></td>
    <td id="v.a_views"></td>

    <td><b>u.mention (log_std)</b></td>
    <td id="u.mention_log_std"></td>

    <td><b>u.mention_per_day (log_std)</b></td>
    <td id="u.mention_per_day_log_std"></td>

    <td><b>u.hashtag (log_std)</b></td>
    <td id="u.hashtag_log_std"></td>

    <td><b>u.hashtag_per_day (log_std)</b></td>
    <td id="u.hashtag_per_day_log_std"></td>

    <td><b>u.rt (log_std)</b></td>
    <td id="u.rt_log_std"></td>

    <td><b>u.rt_per_day (log_std)</b></td>
    <td id="u.rt_per_day_log_std"></td>

    <td><b>u.nbc (log_std)</b></td>
    <td id="u.nbc_log_std"></td>

    <td><b>u.nbc_per_day (log_std)</b></td>
    <td id="u.nbc_per_day_log_std"></td>

    <td><b>u.tweet (log_std)</b></td>
    <td id="u.tweet_log_std"></td>

    <td><b>u.tweet_per_day (log_std)</b></td>
    <td id="u.tweet_per_day_log_std"></td>
  </tr>
</table>

<br>




<table>
  <tr>
    <td><b>u.mention_interaction (sum_log)</b></td>
    <td id="u.mention_interaction_sum_log"></td>

    <td><b>u.mention_interaction_per_day (sum_log)</b></td>
    <td id="u.mention_interaction_per_day_sum_log"></td>

    <td><b>u.hashtag_interaction (sum_log)</b></td>
    <td id="u.hashtag_interaction_sum_log"></td>

    <td><b>u.hashtag_interaction_per_day (sum_log)</b></td>
    <td id="u.hashtag_interaction_per_day_sum_log"></td>

    <td><b>u.rt_interaction (sum_log)</b></td>
    <td id="u.rt_interaction_sum_log"></td>

    <td><b>u.rt_interaction_per_day (sum_log)</b></td>
    <td id="u.rt_interaction_per_day_sum_log"></td>

    <td><b>u.nbc_interaction (sum_log)</b></td>
    <td id="u.nbc_interaction_sum_log"></td>

    <td><b>u.nbc_interaction_per_day (sum_log)</b></td>
    <td id="u.nbc_interaction_per_day_sum_log"></td>
  </tr>

  <tr>
    <td><b>u.mention_interaction (log_sum)</b></td>
    <td id="u.mention_interaction_sum_log"></td>

    <td><b>u.mention_interaction_per_day (log_sum)</b></td>
    <td id="u.mention_interaction_per_day_log_sum"></td>

    <td><b>u.hashtag_interaction (log_sum)</b></td>
    <td id="u.hashtag_interaction_log_sum"></td>

    <td><b>u.hashtag_interaction_per_day (log_sum)</b></td>
    <td id="u.hashtag_interaction_per_day_log_sum"></td>

    <td><b>u.rt_interaction (log_sum)</b></td>
    <td id="u.rt_interaction_log_sum"></td>

    <td><b>u.rt_interaction_per_day (log_sum)</b></td>
    <td id="u.rt_interaction_per_day_log_sum"></td>

    <td><b>u.nbc_interaction (log_sum)</b></td>
    <td id="u.rt_interaction_log_sum"></td>

    <td><b>u.nbc_interaction_per_day (log_sum)</b></td>
    <td id="u.rt_interaction_per_day_log_sum"></td>
  </tr>

  <tr>
    <td><b>u.mention_interaction (mean_log)</b></td>
    <td id="u.mention_interaction_mean_log"></td>

    <td><b>u.mention_interaction_per_day (mean_log)</b></td>
    <td id="u.mention_interaction_per_day_mean_log"></td>

    <td><b>u.hashtag_interaction (mean_log)</b></td>
    <td id="u.hashtag_interaction_mean_log"></td>

    <td><b>u.hashtag_interaction_per_day (mean_log)</b></td>
    <td id="u.hashtag_interaction_per_day_mean_log"></td>

    <td><b>u.nbc_interaction (mean_log)</b></td>
    <td id="u.nbc_interaction_mean_log"></td>

    <td><b>u.nbc_interaction_per_day (mean_log)</b></td>
    <td id="u.nbc_interaction_per_day_mean_log"></td>
  </tr>

  <tr>
    <td><b>u.mention_interaction (log_mean)</b></td>
    <td id="u.mention_interaction_log_mean"></td>

    <td><b>u.mention_interaction_per_day (log_mean)</b></td>
    <td id="u.mention_interaction_per_day_log_mean"></td>

    <td><b>u.hashtag_interaction (log_mean)</b></td>
    <td id="u.hashtag_interaction_log_mean"></td>

    <td><b>u.hashtag_interaction_per_day (log_mean)</b></td>
    <td id="u.hashtag_interaction_per_day_log_mean"></td>

    <td><b>u.rt_interaction (log_mean)</b></td>
    <td id="u.rt_interaction_log_mean"></td>

    <td><b>u.rt_interaction_per_day (log_mean)</b></td>
    <td id="u.rt_interaction_per_day_log_mean"></td>

    <td><b>u.nbc_interaction (log_mean)</b></td>
    <td id="u.nbc_interaction_log_mean"></td>

    <td><b>u.nbc_interaction_per_day (log_mean)</b></td>
    <td id="u.nbc_interaction_per_day_log_mean"></td>
  </tr>

  <tr>
    <td><b>u.mention_interaction (std_log)</b></td>
    <td id="u.mention_interaction_std_log"></td>

    <td><b>u.mention_interaction_per_day (std_log)</b></td>
    <td id="u.mention_interaction_per_day_std_log"></td>

    <td><b>u.hashtag_interaction (std_log)</b></td>
    <td id="u.hashtag_interaction_std_log"></td>

    <td><b>u.hashtag_interaction_per_day (std_log)</b></td>
    <td id="u.hashtag_interaction_per_day_std_log"></td>

    <td><b>u.rt_interaction (std_log)</b></td>
    <td id="u.rt_interaction_std_log"></td>

    <td><b>u.rt_interaction_per_day (std_log)</b></td>
    <td id="u.rt_interaction_per_day_std_log"></td>

    td><b>u.nbc_interaction (std_log)</b></td>
    <td id="u.nbc_interaction_std_log"></td>

    <td><b>u.nbc_interaction_per_day (std_log)</b></td>
    <td id="u.nbc_interaction_per_day_std_log"></td>
  </tr>

  <tr>
    <td><b>u.mention_interaction (log_std)</b></td>
    <td id="u.mention_interaction_log_std"></td>

    <td><b>u.mention_interaction_per_day (log_std)</b></td>
    <td id="u.mention_interaction_per_day_log_std"></td>

    <td><b>u.hashtag_interaction (log_std)</b></td>
    <td id="u.hashtag_interaction_log_std"></td>

    <td><b>u.hashtag_interaction_per_day (log_std)</b></td>
    <td id="u.hashtag_interaction_per_day_log_std"></td>

    <td><b>u.rt_interaction (log_std)</b></td>
    <td id="u.rt_interaction_log_std"></td>

    <td><b>u.rt_interaction_per_day (log_std)</b></td>
    <td id="u.rt_interaction_per_day_log_std"></td>

    <td><b>u.nbc_interaction (log_std)</b></td>
    <td id="u.nbc_interaction_log_std"></td>

    <td><b>u.nbc_interaction_per_day (log_std)</b></td>
    <td id="u.nbc_interaction_per_day_log_std"></td>
  </tr>
</table>

<br>
<br>

<table id="video_table" border="1" style="display:none;">
  <tr>
    <th>Model Rank</th>
    <th>A_view Rank</th>
    <th>B_view Rank</th>
    <th>Video</th>
    <th>Upload Date</th>
    <th id="dayA_col"></th>
    <th id="dayB_col"></th>
    <th>Score</th>
    <th>Features</th>

  </tr>
</table>

<script language="javascript">
  $(document).ready(function() {
    $('#clear_btn').on('click', function() {
      clear_videos();
      $('#weights').html('');
      $('#video_table').hide();
    });

    $('#submit_btn').on('click', function() {
      $('#buttons').hide();
      $('#loading').show();

      jQuery.ajax({
        url : 'youtube_popularity/doAction',
        data : {
          upload_date : $('#upload_date').val(),
          threshold: $('#threshold').val()
        },
        error : function() {
            alert('error!');
        },
        success : function(response) {
            //$('#weights').html(response.weights_map);
            show_weights(response.weights_map);

            $('#video_table').show();
            clear_videos();

            var dayA = $('#upload_date').val();
            var dayB = $("select option:selected").attr("dayB");

            $("#dayA_col").html("No. of views by " + dayA);
            $("#dayB_col").html("No. of views by " + dayB);

            show_videos(response.top_videos);

            $('#buttons').show();
            $('#loading').hide();
        }
      });
    });
  });

  function show_weights(weights_map)
  {
    for (var key in weights_map) {
      if (!weights_map.hasOwnProperty(key)) continue;

      var td_id = '#' + key.replace(':', '_');

      $(td_id).html(weights_map[key]);
    }  
  }

  function clear_videos()
  {
    $('.data_row').remove();
  }

  function show_videos(top_videos)
  {
    for (var i = 0; i < top_videos.length; i++) {
      $('#video_table tr:last').after(
        '<tr class=\'data_row\'>'

	+ '<td>' + top_videos[i].model_rank + '</td>'
        + '<td>' + top_videos[i].a_rank + '</td>'
        + '<td>' + top_videos[i].b_rank + '</td>'

        //Orig width 560 height 315
        + '<td><iframe width="420" height="236" src="//www.youtube.com/embed/' + top_videos[i].vid_id + '" frameborder="0" allowfullscreen></iframe></td>'

        + '<td>' + top_videos[i].upload_date + '</td>'
	//+ '<td>' + top_videos[i].score + '</td>'
        + '<td>' + top_videos[i].a_views + '</td>'
        + '<td>' + top_videos[i].b_views + '</td>'
	+ '<td>' + top_videos[i].score + '</td>'
        + '<td>' 
        + 'v.mention: ' + top_videos[i].feature_dot['v.mention'] + '<br>'
        + 'v.hashtag: ' + top_videos[i].feature_dot['v.hashtag'] + '<br>'
        + 'v.rt: ' + top_videos[i].feature_dot['v.rt'] + '<br>'
        + 'v.nbc: ' + top_videos[i].feature_dot['v.nbc'] + '<br>'
        + 'v.tweet: ' + top_videos[i].feature_dot['v.tweet'] + '<br>'
        + 'v.a_views: ' + top_videos[i].feature_dot['v.a_views'] + '<br>'
        + 'u.mention: ' + top_videos[i].feature_dot['u.mention'] + '<br>'
	+ 'u.mention_per_day: ' + top_videos[i].feature_dot['u.mention_per_day'] + '<br>'
        + 'u.hashtag: ' + top_videos[i].feature_dot['u.hashtag'] + '<br>'
        + 'u.hashtag_per_day: ' + top_videos[i].feature_dot['u.hashtag_per_day'] + '<br>'
        + 'u.rt: ' + top_videos[i].feature_dot['u.rt'] + '<br>'
        + 'u.rt_per_day: ' + top_videos[i].feature_dot['u.rt_per_day'] + '<br>'
        + 'u.nbc: ' + top_videos[i].feature_dot['u.nbc'] + '<br>'
        + 'u.nbc_per_day: ' + top_videos[i].feature_dot['u.nbc_per_day'] + '<br>'
        + 'u.tweet: ' + top_videos[i].feature_dot['u.tweet'] + '<br>'
        + 'u.tweet_per_day: ' + top_videos[i].feature_dot['u.tweet_per_day'] + '<br>'

        + 'u.mention_interaction: ' + top_videos[i].feature_dot['u.mention_interaction'] + '<br>'
	+ 'u.mention_interaction_per_day: ' + top_videos[i].feature_dot['u.mention_interaction_per_day'] + '<br>'
        + 'u.hashtag_interaction: ' + top_videos[i].feature_dot['u.hashtag_interaction'] + '<br>'
        + 'u.hashtag_interaction_per_day: ' + top_videos[i].feature_dot['u.hashtag_interaction_per_day'] + '<br>'
        + 'u.rt_interaction: ' + top_videos[i].feature_dot['u.rt_interaction'] + '<br>'
        + 'u.rt_interaction_per_day: ' + top_videos[i].feature_dot['u.rt_interaction_per_day'] + '<br>'
        + 'u.nbc_interaction: ' + top_videos[i].feature_dot['u.nbc_interaction'] + '<br>'
        + 'u.nbc_interaction_per_day: ' + top_videos[i].feature_dot['u.nbc_interaction_per_day'] + '<br>'
        + '</td>'
        + '</tr>'
      );
    }
  }
</script>
