<form id="yt_form" action="youtube_popularity/doAction" method="get">
  Upload Date: 
  <select id="upload_date" name="upload_date">
    <option value="2014-09-27">2014-09-27</option>
    <option value="2014-09-28">2014-09-28</option>
    <option value="2014-09-29">2014-09-29</option>
    <option value="2014-09-30">2014-09-30</option>
    <option value="2014-10-01">2014-10-01</option>
    <option value="2014-10-02">2014-10-02</option>
    <option value="2014-10-03">2014-10-03</option>
    <option value="2014-10-04">2014-10-04</option>
  </select>

  <br>

  <div id="buttons">
    <input id="submit_btn" type="button" value="Submit">
    <input id="clear_btn" type="button" value="Clear">
  </div>

  <img id="loading" src="/assets/ajax-loader.gif" style="display:none;">
</form>

<br>

<table id="video_table" border="1">
  <tr>
    <th>Video</th>
    <th>A views</th>
    <th>B views</th>
  </tr>
</table>

<script language="javascript">
  $(document).ready(function() {
    $('#clear_btn').on('click', function() {
      clear_videos();
    });

    $('#submit_btn').on('click', function() {
      $('#buttons').hide();
      $('#loading').show();

      jQuery.ajax({
        url : 'youtube_popularity/doAction',
        data : {
          upload_date : $('#upload_date').val()
        },
        error : function() {
            alert('error!');
        },
        success : function(response) {
            clear_videos();
            show_videos(response.top_videos);

            $('#buttons').show();
            $('#loading').hide();
        }
      });
    });
  });

  function clear_videos()
  {
    $('.data_row').remove();
  }

  function show_videos(top_videos)
  {
    for (var i = 0; i < top_videos.length; i++) {
      $('#video_table tr:last').after(
        '<tr class=\'data_row\'>'
	//+ '<td><a href="http://www.youtube.com/watch?v=' + top_videos[i].vid_id + '">'
        + '<td><iframe width="560" height="315" src="//www.youtube.com/embed/' + top_videos[i].vid_id + '" frameborder="0" allowfullscreen></iframe></td>'
	//+ top_videos[i].vid_id + '</a></td>'
        //+ '<td>' + top_videos[i].upload_date + '</td>'
	//+ '<td>' + top_videos[i].score + '</td>'
	//+ '<td>' + top_videos[i].actual + '</td>'
        + '<td>' + top_videos[i].a_views + '</td>'
        + '<td>' + top_videos[i].b_views + '</td>'
        + '</tr>'
      );
    }
  }
</script>
